/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('background-image.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    text-align: center;
}

/* Estilos de la barra de navegación */
.navbar {
    position: absolute;
    top: 20px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}

.navbar a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.navbar a:hover {
    color: #ff4500;
}

/* Estilos del botón */
.btn {
    padding: 10px 20px;
    background-color: #ff4500;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #ff5733;
}

/* Estilos del contenido principal */
.content {
    flex-direction: column-reverse;
    max-width: 80%;
    padding: 20px;
}

h1 {
    font-size: 48px;
    margin: 0;
}

p {
    font-size: 18px;
    margin-top: 10px;
}

.explore-btn {
    margin-top: 20px;
    padding: 10px 30px;
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
}

.explore-btn:hover {
    background-color: #fff;
    color: #000;
}

Estilos de la sección de novedades */
.streaming-novedades {
    padding: 40px;
    background-color: #f9f9f9;
    text-align: center;
}

.streaming-novedades h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

.novedades-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.novedad-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 250px;
    text-align: center;
    transition: transform 0.3s;
}

.novedad-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.novedad-card h3 {
    font-size: 18px;
    color: #333;
    margin: 15px 0;
}

.compra-btn {
    background-color: #ff4500;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 15px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.compra-btn:hover {
    background-color: #ff5733;
}

/* Efecto hover en las tarjetas */
.novedad-card:hover {
    transform: scale(1.05);
}